Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
*.sln
*.log
Intermediate/CachedAssetRegistry.bin
*.bin
Saved/AutoScreenshot.png
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Content/Sounds/zvuky_pozadi_1.uasset
Content/Sounds/zvuky_pozadi_2.uasset
